

/* Auto Sug CSS */
/* .html{
  background-image: url('../Images/img1.png');
  
} */

/* html { background-image: url("../Images/img1.png");
  background-size: 1500px;
  background-repeat: no-repeat;
} */

.react-autosuggest__container {
    /* position: relative; */
  }
  
  .react-autosuggest__input {
    width: 240px;
    height: 40px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    /* position: absolute; */
    top: 51px;
    margin-top: 0;
    width: 240px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  
  .buttonThing{
    display: flex;
    align-items: flex-start;
  }
  .imgBackground{
    position: fixed;
    top: 0%;
  left: 0%;
    background-size: cover;
 
  }
  .filterStyle{
    border-radius: 5px;
    background-color: rgba(155, 155, 155, 0.596);
    margin-top: 80%;
    margin-bottom: 4%;
    height: 0%;
  }
  .filterStyle:hover{
    background-color: rgba(248, 248, 248, 0.924);
  
  }
  .boutton{
    margin-left: 2%;
  }
  .cardJob{
    margin-top: 80%;
    margin-bottom: 4%;
  }
  .applyCard{
    color: white;
    margin-top: 80%;
    height: 0%;
  }
   .textBackground{
    display: inline;
    position: absolute;
    top : 45%;
    left: 2%;
    width:70%;
    color: white;
    font-size: 250%;
   
 
  }
  .cardJobSt{
    color: #000;
    text-align: center;
  }